<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdomsky.dmp.security.mapper.AccountRoleLinkMapper">

   <!-- 11. bindAccountRole -->
   <insert id="bindAccountRole">
      insert into dmp_account_role_link(account_id, role_id)
      values (#{accountId}, #{roleId})
   </insert>

   <!-- 12. unbindAccountRole -->
   <insert id="unbindAccountRole">
      delete from dmp_account_role_link
      where account_id = #{accountId}
        and role_id = #{roleId}
   </insert>
</mapper>
